@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.greyline {
    height: 10vh;
    background-color: ghostwhite;
}

.menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    list-style: none;
    width: 100%;
    background-color: lightcoral;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}